html {
  font-size: 10px;
  background: #ede0d4;
  /* background-size: cover; */
}

body,
html {
  margin: 0;
  padding: 10px 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: #9c6644;
  font-size: 70px;
  margin-top: 20vh;
}

.keys {
  display: flex;
  flex: 1;
  min-height: fit-content;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
}

.key,
#startButton {
  border: 0.4rem solid #ddb892;
  border-radius: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 7em;
  text-align: center;
  color: #ddb892;
  background: rgb(255, 255, 255);
  text-shadow: 0 0 0.2rem #9c6644;
}

.playing {
  transform: scale(1.1);
  border-color: #9c6644;
  box-shadow: 0 0 1rem#9c6644;
  color: #9c6644;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ddb892;
}
.newHighScore {
  font-size: 30px;
  color: #ddb892;
}

#startButton {
  cursor: pointer;
  width: 30vw;
  height: 8vh;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 30px;
  border-radius: 30px;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
}

#startButton:hover {
  color: #9c6644;
  border-color: #9c6644;
}

#startButton:focus {
  outline: none;
}

.score-tracker {
  color: #9c6644;
}
